@import url("https://use.typekit.net/sbw1zdm.css");

body {
    margin: 0;
}


.grid {
    /*width: 100vw;*/
    height: 100vh;
    grid-template-rows: 120px 400px 1fr;
    grid-template-columns: 200px 340px 1fr 50px;
    display: grid;
}

.mitteilungen {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: "acumin-pro", sans-serif;
    font-weight:600;
    font-style: normal;
    font-size: 45pt;
    text-align: right;
    border-top: 20px solid red;
    line-height: 100%;
    margin-top: 40px;
    animation-name: mitteilungrechts;
    animation-duration: 2s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
    /* animation-iteration-count: 3; */
    /* animation-delay: 1s; */
    animation-fill-mode:forwards;
}

.typographische_wrapper {
    grid-column: 1/2;
    grid-row: 2/4;
    align-self: start;
    justify-self: end;
    animation-name: elementareup;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    /* animation-iteration-count: 3; */
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transform: translate(0,2000px);
}

.typographische {
    font-family: "acumin-pro", sans-serif;
    font-weight:600;
    font-style: normal;
    font-size: 45pt;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
    border-right: 20px solid red;
    line-height: 80%;
    height: 100%;
}

.ausgabe_thema {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: end;
    align-self: end;
    }


.sonderheft {
    font-family: "acumin-pro", sans-serif;
    font-size: 30pt;
    font-weight: lighter;
    text-align: right;
    animation-name: sonderheftfade;
    animation-duration: 1s;
    animation-timing-function: ease-in; 
    /* animation-iteration-count: 3; */
    /* animation-delay: 1s; */
    animation-fill-mode: forwards; 
}

.white_space {
    height: 30px;
}

.elementare {
    font-family: "acumin-pro", sans-serif;
    font-size: 30pt;
    font-weight:600;
    text-align: right;
    animation-name: sonderheftfade;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    /* animation-iteration-count: 3; */
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
}


.typographie {
    font-family: "acumin-pro", sans-serif;
    font-size: 30pt;
    font-weight:600;
    text-align: right;
    animation-name: sonderheftfade;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    /* animation-iteration-count: 3; */
    /* animation-delay: 1s; */
    /* animation-fill-mode: forwards; */
}

.artists {
    grid-column: 3/4;
    grid-row: 3/4;
    font-family: "acumin-pro", sans-serif;
    font-size: 9pt;
    font-weight:600;
    border-right: 10px solid black;
    justify-self: end;
    padding-right: 12px;
    margin-right: 20px;
    margin-bottom: 400px;
    margin-top: 50px;
    /* animation-name: artistsup;
    animation-duration: 2s; */
    /* animation-timing-function: ease-in-out; */
    /* animation-iteration-count: 3; */
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.artists li:hover {
    color: red;
}

li {
    list-style-type: none;
}


.oktober_1925 {
    grid-column: 4/5;
    grid-row: 1/4;
    font-family: "acumin-pro", sans-serif;
    font-size: 10pt;
    font-weight: 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-bottom: 30px;
    margin-right: 30px;
    margin-bottom: 400px;
    /* animation-name: oktoberdown;
    animation-duration: 3s; */
    /* animation-timing-function: ease-in-out; */
    /* animation-iteration-count: 3; */
    /* animation-delay: 2s;
    animation-fill-mode: forwards; */
}


@media (max-width: 768px) {

    .mitteilungen {
        font-size: 35pt;
        border-top: 15px solid red;
    }

    .typographische {
        font-size: 35pt;
        border-right: 15px solid red;
    }

    .elementare {
        font-size: 20pt;
    }

    .typographie {
        font-size: 20pt;
    }


    .ausgabe_thema {
        align-self: center;
    }

    .sonderheft {
        font-size: 20pt;
    }

    .artists {
        grid-column: 2/4;
        grid-row: 3/4;
        font-size: 9pt;
        margin-top: 130px;
    }

    .oktober_1925 {
        font-size: 8pt;
    }

}


@keyframes mitteilungrechts {

    0% {
        transform: translate(-1000px,0);
    }

    50% {
        transform: translate(-525px,0);
    }

    100% {
        transform: translate(0,0);
    }
}

@keyframes elementareup {

    0% {
        transform: translate(-50px,2000px);
    }

    50% {
        transform: translate(-50pxpx,1000px);
    }

    100% {
        transform: translate(-50px,10px);
        /* transform: rotate(0deg); */
    }
}


@keyframes sonderheftfade {

    0% {
        opacity: 0%;
        
    }

    50% {
        opacity: 30%;
    }

    100% {
        opacity: 100%;
    }

}


@keyframes artistsup {

    0% {
        transform: translate(0,2000px);
    }

    50% {
        transform: translate(0px,1000px);
    }

    100% {
        transform: translate(0px,-100px);
        /* transform: rotate(0deg); */
    }
}

@keyframes oktoberdown {
    0% {
        transform: translate(0,-1000px);
    }

    50% {
        transform: translate(0px,-500px);
    }

    100% {
        transform: translate(0px,213px);
        /* transform: rotate(0deg); */
    }
}



